
<div class="row">

    <div class="col-md-6">
        <form [formGroup]="form" (ngSubmit)="save()">
        
            <div class="form-group mb-3">
                <input type="hidden" formControlName="userId">

                <label>Name</label>
                <input type="text" class="form-control" formControlName="name">
            </div>
            
            <div class="form-group mb-3">
                <label>Username</label>
                <input type="text" class="form-control" formControlName="userName">
            </div>

            <div class="form-group mb-3">
                <label>Password </label>
                <input type="password" class="form-control" formControlName="userPassword">    
            </div>

            <div class="form-group mb-3">
                <label for="userPhoto">Upload Photo</label>
                    <input type="file" class="form-control form-control-sm" id="userPhoto" (change)="onFileSelected($event)" accept="image/*">
            </div>
            
            <div class="form-group mb-3" *ngIf="imageUrl">
                <img [src]="imageUrl" alt="Image Preview" style="max-width: 200px; max-height: 200px;">
            </div>

            <div class="row mt-2"> 
                <div class="col-md-6">
                    <button class="btn btn-success me-2">Save</button>
                    <button class="btn btn-danger " (click)="cancel()">Cancel</button>
                </div>                
            </div>

    </form>
    </div>
    
    <div class="col-md-2" *ngIf="userPhotoPath != '' ">
        <div class="form-group">
            <label class="form-label d-block">Current Photo</label>
            <img [src]="userPhotoPath | safeUrl" alt="Image preview" class="img-fluid" style="max-width: 200px; max-height: 100px;" />
        </div>
    </div>

</div>